.bbb{
    transform: rotate(-90deg) !important;
    padding-bottom: 290px !important;
    margin-left: 250px !important;
}
.a{
    margin-left: -20px !important;
    margin-top: 5px !important;
    width: 100px !important;
}
.b{
    margin-left: -20px !important;
    margin-top: 3px !important;
    width: 118px !important;
}